<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logconsole" xsi:type="Console" />
        
        <target
            xsi:type="file"
            name="logfile"
            deleteOldFileOnStartup="true"
            fileName="struct_logs.json">
            <layout xsi:type="JsonLayout">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="message" layout="${message}" />
                <attribute name="eventProperties" encode="false" >
                    <layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="2" renderEmptyObject="false"/>
                </attribute>
                <attribute name="scope" encode="false" >
                    <layout type='JsonLayout' includeMdlc="true"  maxRecursionLimit="2" renderEmptyObject="false"/>
                </attribute>
            </layout>
        </target>

        <target name="asynclogfile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
            <target
              xsi:type="file"
              deleteOldFileOnStartup="true"
              fileName="async_struct_logs.json">
                <layout xsi:type="JsonLayout">
                    <attribute name="time" layout="${longdate}" />
                    <attribute name="level" layout="${level:upperCase=true}"/>
                    <attribute name="message" layout="${message}" />
                    <attribute name="eventProperties" encode="false" >
                        <layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="2" renderEmptyObject="false"/>
                    </attribute>
                    <attribute name="scope" encode="false" >
                        <layout type='JsonLayout' includeMdlc="true"  maxRecursionLimit="2" renderEmptyObject="false"/>
                    </attribute>
                    <!--<attribute name="ExplicitScopeKey" layout="${mdlc:ScopeKey}" />-->
                </layout>
            </target>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
        <logger name="*" minlevel="Debug" writeTo="asynclogfile" />
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
    </rules>
</nlog>